<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped table-dark">
    <tr>
      <th scope="row"><a href="managehr" class="link-warning">ADD AND MANAGE HR</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewcomplaint" class="link-warning">VIEW COMPLAINTS AND SEND REPLY</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="notification" class="link-warning">SEND NOTIFICATION</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewwork" class="link-warning">VIEW WORK</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewworkreport" class="link-warning">VIEW WORK REPORT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewperformance1" class="link-warning">VIEW PERFORMANCE</a></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
