<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'admin_index.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="viewperformance_search">
  <h2>PERFORMANCE</h2>
  TYPE 
  <label>
  <select name="select">
    <option>HR</option>
    <option>TEAM LEADER</option>
    <option>TEAM MEMBER</option>
  </select>
  </label>
  <label>
  <input type="submit" name="Submit" value="Search" />
  </label>
  <p>SEARCH BY DATE</p>
  <p>
    <label>FROM 
    <input type="date" name="textfield" />
    </label> 
    TO 
    <label>
    <input type="date" name="textfield2" />
    </label>
    <label>
    <input type="submit" name="Submit2" value="Search" />
    </label>
  </p>
  <table width="200" border="1" CLASS="table">
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">SCORE</th>
      <!--<th scope="col">PERFORMANCE</th>-->
    </tr>

{% for i in val %}
    <tr>
      <td>{{i['first_name']}}{{i['last_name']}}</td>
      <td>&nbsp;{{i['score']}}</td>
      <!--<td>&nbsp;</td>-->
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

</body>
<!--</html>-->
{% endblock %}