<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'tl_index.html'%}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="assign_tm">
  <h2 align="center">Assign work to TM</h2>
  <table width="200" border="1" class="table table-striped table-dark">
    <tr>
      <th scope="row">WORK</th>
      <td><label>
        <select name="select">
          {% for i in val %}
          <option value="{{i['wid']}}">{{i['work']}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">TEAM MEMBER </th>
      <td><label>
        <select name="select2">
          {% for i in val1 %}
          <option value="{{i['tm_id']}}">{{i['first_name']}}{{i['last_name']}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Add" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}