<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="assignedwork">VIEW ASSIGNED WORK</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="assigntm">ASSIGN WORK TO TM</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="verifyatt">VERIFY TM ATTENDANCE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="managetm">ADD AND MANAGE TM</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="updatereport">UPDATE WORK REPORT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="blocktm">BLOCK AND UNBLOCK TM</a></th>
    </tr>
    <tr>
      <th scope="row"><p><a href="viewnot2">VIEW NOTIFICATION</a></p>
      </th>
    </tr>
    <tr>
      <th scope="row"><a href="viewperformance3">VIEW PERFORMANCE REPORT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewreport1">VIEW TM WORK REPORT</a></th>
    </tr>
    <tr>
      <th scope="row"><label>
        <input type="submit" name="Submit" value="LOGOUT" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
