<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'tl_index.html'%}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>PERFORMANCE</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <h2>PERFORMANCE</h2>
  <table width="200" border="1">
    <tr>
      <th scope="col">TEAM MEMBER </th>
      <th scope="col">SCORE</th>
      <th scope="col">PERFORMANCE</th>
    </tr>
   {% for i in val %}
    <tr>
      <td>&nbsp;{{i['first_name']}} {{i['last_name']}}</td>
      <td>&nbsp;{{i['scr']}}</td>
      <td>&nbsp;{{i['p']}}</td>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

</body>
<!--</html>-->
{% endblock %}