<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'tl_index.html'%}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>PERFORMANCE</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <h2 align="center">PERFORMANCE</h2>
  <table width="200" border="1" class="table table-striped table-dark">
    <tr>
     <th scope="col">NAME</th>
      <th scope="col">FEEDBACK SCORE</th>
      <th scope="col">ATTENDANCE SCORE</th>
      <th scope="col">AVARAGE SCORE</th>
      <th scope="col">PERFORMANCE</th>
    </tr>
   {% for i in val %}
    <tr>
      <td>{{i['first_name']}}{{i['last_name']}}</td>
      <td>&nbsp;{{i['scr']}}</td>
      <td>&nbsp;{{i['per']}}</td>
      <td>&nbsp;{{i['fscr']}}</td>
      <td> {{i['p']}} </td>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

</body>
<!--</html>-->
{% endblock %}