<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hr_index.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="attendancetl">
  <h2>ATTENDANCE</h2>
  <table width="508" border="1">
    <tr>
      <th width="184" scope="col">TEAM LEADER </th>
      <th width="149" scope="col">ATTENDANCE</th>
      <th width="80" scope="col">DATE</th>
      <th width="67" scope="col">IN TIME</th>
      <th width="67" scope="col">OUT TIME</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['first_name']}} {{i['last_name']}}</td>
      <td>{{i['attendance']}}&nbsp;</td>
      <td>{{i['date']}}</td>
      <td>{{i['intime']}}</td>
      <td>{{i['outtime']}}&nbsp;</td>
    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}