<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'hr_index.html' %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="attendancetl">
  <h2>ATTENDANCE</h2>
  <table width="508" border="1">
    <tr align="center">
      <td><a href="addattendance1">add attendance</a></td>
    </tr>
    <tr>
      <th width="184" scope="col">Team Leader Name </th>
      <th width="149" scope="col">Total Working Days</th>
      <th width="80" scope="col">Total Present Days</th>
      <th width="67" scope="col">Percentage</th>

    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['first_name']}} {{i['last_name']}}</td>
      <td>{{i['twd']}}&nbsp;</td>
      <td>{{i['tpd']}}</td>
      <td>{{i['per']}}</td>

    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}