<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'hr_index.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="viewtl">ADD AND MANAGE TL</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="updatehr">UPDATE PROFILE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="managework">ADD AND MANAGE WORK</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="assigntl">ASSIGN WORK TO TL</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="attendancetl">VERIFY TL ATTENDANCE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewreport">VIEW WORK REPORT AND VERIFY STATUS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="blocktl">BLOCK AND UNBLOCK TL</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewnot1">VIEW NOTIFICATION</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewperformance2">VIEW PERFORMANCE</a></th>
    </tr>
    <tr>
      <th scope="row"><label>
        <input type="submit" name="Submit" value="Logout" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}