<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'tm_index.html'%}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="viewatt">VIEW MY ATTENDANCE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="updatereport1">UPDATE WORK REPORT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="sendcomplaint">SEND COMPLAINT  </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewreply">VIEW REPLY  </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewnot3">VIEW NOTIFICATION</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewwork1">VIEW WORK</a></th>
    </tr>
    <tr>
      <th scope="row"><label>
        <input type="submit" name="Submit" value="LOGOUT" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}